@font-face {
  font-family: 'industry';
  src: url('./assets/fonts/industry.eot');
  src: local('industry'),
      url('./assets/fonts/industry.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/industry.woff') format('woff'),
      url('./assets/fonts/industry.ttf') format('truetype');
  font-weight: bold;
}

body {
  background: #0d0d0f;
  color: #bebfc0;
  font-family: 'industry';
  padding: 2.25rem 1.5rem;
}
